.game-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/Fondo-maquinas.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.machine-wrapper {
  width: 80%;
  max-width: 410px;
  position: relative;
  z-index: 1;
}

.machine-relative {
  position: relative;
  width: 100%;
}

/* Máquina se escala con pantalla */
.game-maquina {
  width: 100%;
  height: auto;
  display: block;
}

/* Palanca sigue proporcional a la máquina */
.palanca {
  position: absolute;
  bottom: 11%;
  left: 5%;
  width: 35%;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.texto-comenzar {
  position: absolute;
  top: 43%;
  left: 51%;
  letter-spacing: 7px;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #ffffff;
  z-index: 2;
  user-select: none;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Aca abajo estilos de puntos y fichas*/

.hud-panel {
  position: absolute;
  top: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 3;
  font-size: 0.9rem;
  color: #ffffff;
  text-shadow: 0 0 5px #000;
}

/* Ahora cada caja se ve como una tarjeta individual */
.hud-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(34, 6, 74, 0.8); /* 60% opacidad */
  box-shadow: #a049a0 0px 0px 7px 2px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px 12px;
  min-width: 130px;
  justify-content: space-between;
}

.hud-icon {
  width: 30px;
  height: auto;
}

.hud-label {
  color: #ffffff;
}

.hud-value {
  color: #ffd700;
}
.slot-display {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.8rem;
  max-width: 90%;
  justify-content: center;
  flex-wrap: nowrap;
}

.slot-icon {
  width: 65px;
  height: auto;
  max-width: 25vw;
  image-rendering: pixelated;
}

@media screen and (max-width: 480px) {
  .slot-display {
    gap: 0.5rem;
  }

  .slot-icon {
    width: 13vw;
  }
}

.palanca.deshabilitada {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
