.container-loading {
    background-color: #0d0c2c;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .registro {
      font-size: 96px;
      color: #ffe448;
    }
  .full-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loading-img {
    width: 30vw;
    max-width: 300px;
    height: auto;
    margin-bottom: 2rem; 
  }

  .hearts-img {
    width: 25vw;
    max-width: 250px;
    height: auto;
  }
  