@font-face {
  font-family: "PixelifySans";
  src: url("./assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bs-body-font-family: "PixelifySans", sans-serif;
}

body,
html {
  font-family: "PixelifySans", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.swal2-popup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a {
  color: #9b59b6;
  text-decoration: underline;
}

a:hover {
  color: #eccb38;
}

::-webkit-scrollbar {
  width: 0px;
}

.puntos-alert-small {
  width: 300px !important;
}

.puntos-title-small {
  font-size: 1rem !important;
}

.puntos-text-small {
  font-size: 1rem !important;
}

strong {
  color: #571962;
}

b {
  color: #734187;
}
