.fondo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main {
  background: rgba(255, 255, 255, 0.8);
  padding: 1%;
  border-radius: 5px;
  width: 90%;
  max-width: 490px;
  margin: auto;

  box-shadow: 0 5px 10px #211827;
}

.container-main .btn {
  background-color: #f7c100;
  border: none;
  color: #261248;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 2%;
}

.container-main .btn:hover {
  background-color: #8093f5;
}
.text-home {
  color: #261248;
  font-size: large;
  letter-spacing: normal;
  padding: 8px;
  text-align: justify;
}
.logohome {
  width: 85%;
  max-width: none;
  height: auto;
  display: block;
  margin: 30px auto 0 auto; /* empuja el logo hacia abajo */
}

.emojigafas {
  max-width: 80%;
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
@media screen and (max-width: 480px) {
  .container-main .btn {
    font-size: 0.95rem;
    padding: 10px;
    max-width: 320px;
  }

  .logohome {
    width: 100%;
    max-width: 300px;
  }

  .text-home {
    font-size: 1rem;
  }
}
