@font-face {
  font-family: "PixelifySans";
  src: url("./assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bs-body-font-family: "PixelifySans", sans-serif;
}

body,
html {
  font-family: "PixelifySans", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}

::-webkit-scrollbar {
  width: 0px;
}
